<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lost & Found{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'item_list' %}">Все предметы</a>
        <a href="{% url 'add_item' %}">Добавить предмет</a>
        <a href="/admin/">Админка</a>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>